html
  head
    link(rel='icon', type='image/png', href='favicon.png')
    link(rel='stylesheet' type='text/css' href='style.css')
    title .... . .-.. .--. / -- .
  body
    div(id='links')
      a(href='/') Home
      br
      a(href='/cv') CV
      br
      a(href='/photos') Photos
      br
      a(href='/contact') Contact
      br
      a(href='/password') Password
    div(id='main')!= content