body{
	background-color: #121212;
	}
	
div#links{
	margin-left: 2%;
	text-align: left;
	text-transform: uppercase;
	float: left;
	}
div#links>a{
	font-size: 3em;
	font-family: Arial;
	line-height: 40pt;
	text-decoration: none;
	color: white;
	}
div#links>a:hover{
	color: #85E0FF;
	}
	
div#main{
	text-transform: lowercase;
	margin-top: 3%;
	margin-left: 30%;
	margin-right: auto;
	width: 42%;
	font-family: Courier;
	color: white;
	font-size: 0.9em;
	}

div#languages{
	/* border: solid 1px white; */
	margin: 0;
	float: left;
	}
	
div#comp-other{
	margin: 0;
	float: right;
	/* border: solid 1px white; */}
	
div#main a{
	text-decoration: none;
	color: #85E0FF;
	}
	
div#foot{
	display: block;
	margin-top: 10%;
}
	
textarea{
	resize: none;
}

textarea,input[type="email"]{
	margin-top: 2%;
	margin-bottom: 5%;
	font-family: "Courier";
	width: 50%;
}

div#main img{
	margin-right: 4%;
	margin-bottom: 4%;
}