body{
	background-color: #121212;
	}

div#links{
	position: absolute;
	left: 2%;
	text-align: left;
	text-transform: uppercase;
	float: left;
	}
div#links>a{
	font-size: 3em;
	font-family: Arial;
	line-height: 40pt;
	text-decoration: none;
	color: white;
	}
div#links>a:hover{
	color: #85E0FF;
	}

div#main{
	text-transform: lowercase;
	margin-top: 3%;
	margin-left: 30%;
	margin-right: auto;
	width: 42%;
	font-family: Courier;
	color: white;
	font-size: 0.9em;
	overflow: auto;
	line-height: 1.3em;
	}

div#home{
	line-height: 1.2em;
}

div#languages{
	/* border: solid 1px white; */
	margin: 0;
	float: left;
	}

div#comp-other{
	margin: 0;
	float: right;
	/* border: solid 1px white; */}

div#main a{
	text-decoration: none;
	color: #85E0FF;
	}

div#foot{
	display: block;
	margin-top: 10%;
}

div#password{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25%;
	text-align: left;
}

textarea{
	resize: none;
}

textarea,input[type="email"]{
	margin-top: 2%;
	margin-bottom: 5%;
	font-family: "Courier";
	width: 50%;
}

input[name="maxlength"]{
	width: 30px;
}

p#password-p{
	font-size: 120%;
}

div#main img{
	margin-right: 4%;
	margin-bottom: 4%;
}
